@import 'reset';

@mixin header-buttons {
  background-color: #e6e9ed;
  height: 30px;
  font-size: 12px;
  border: none;
  width: 35px;
  cursor: pointer;
  transition: color 1s, background-color 1s;
}

.container {
  overflow: hidden;
  position: relative;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f7f9;

  &__contacts {
    margin: 10px 0 15px;

    & span {
      font-size: 12px; 
      margin-left: 5px;

      & a {
        color: #676868;
        border-bottom: 1px solid silver;
        transition: color 0.5s;

        &:hover {
          color: #83c8d1;
        }
      }
    }
  }

  &__welcome-text {
    display: none;
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;

    &_languages {
      & button {
        @include header-buttons();

        &:hover {
          background-color: #c0c0c0;
        }

        &:focus {
          background-color: #78c4cd;
          color: #fff;
        }
      }
    }

    &_currency {
      & button {
        @include header-buttons();
        width: 27px;
        font-size: 14px;

        &:hover {
          background-color: #d1d1d1e5;
        }

        &:focus {
          background-color: #78c4cd;
          color: #fff;
        }
      }
    }
  }
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    & span {
      font-size: 12px;
      font-style: italic;
      color: #b5b5b5;
      margin-left: 15px;
      margin-top: -5px;
    }
  }

  &__search-bar {
    margin-top: 25px;
    position: relative;

    &_field {
      width: 215px;
      height: 40px;
      border: 1px solid #cccccc;
      padding-left: 10px;
      padding-right: 38px;
      border-radius: 3px;
      font-size: 13px;

      &:focus {
        border-color: #73b0b8;
      }
    }

    &_icon {
      position: absolute;
      top: 12px;
      right: 10px;
      border: none;
      cursor: pointer;
    }
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: color 0.5s;

    & a {
      font-size: 14px;      
      color: #a8a8a8;

      &::after {
        content: '|';
        margin: 0 10px;
      }

      &:hover {
        color: #73b0b8;
      }
    }

    & button {
      border: none;
      background-color: #f1f3f5;
      color: #6d6d6d;
      font-size: 14px;
      height: 30px;
      cursor: pointer;
      border: 1px solid #f1f3f5;
      transition: border 1s;

      & img {
        margin-right: 7px;
      }

      &:hover {
        border-color: #6d6d6d;
      }
    }
  }
}

.logIn {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  &__bg {
    background:rgba(0,0,0,0.4);
    position:absolute;
    z-index:1;
    height:100%;
    width:100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    & h2 {
      font-size: 20px;
      margin-bottom: 20px;
    }

    &_form {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      margin: 50% auto;
      z-index: 2;
      width: 200px;
      padding: 40px 20px;
      background: #FFFFFF;
      border: 1px solid #666666;

      & div {
        position: relative;

        & img {
          width: 15px;
          position: absolute;
          top: 5px;
          left: 2px;
        }

        & input {
          font-size: 13px;
          padding-left: 25px;
          height: 25px;
          width: 170px;
          border: none;
          margin-bottom: 10px;
          border-bottom: 1px solid #385b5f;

          &:focus {
            border-color: #88d6e0;
          }
        }
      }

      & button {
        margin-top: 5px;
        width: 85px;
        border-radius: 3px;
        height: 30px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1.1px;
        background-color: #88d6e0;
        border: 1px solid #88d6e0;
        cursor: pointer;
        transition: color 0.5s, background-color 0.5s, transform 1s;

        &:hover {
          background-color: #fff;
          color: #88d6e0;
        }

        &:focus {
          transform: scale(1.1);
        }
      }
    }
  }
}

.signUp {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  &__bg {
    background:rgba(0,0,0,0.4);
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    & h2 {
      font-size: 20px;
      margin-bottom: 20px;
    }

    &_form {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      margin: 50% auto;
      z-index: 3;
      width: 200px;
      padding: 40px 20px;
      background: #FFFFFF; 
      border: 2px solid #9b9b9b;

      &-field {
        position: relative;

        & img {
          width: 15px;
          position: absolute;
          top: 5px;
          left: 2px;
        }

        & input {
          font-size: 13px;
          padding-left: 25px;
          height: 25px;
          width: 170px;
          border: none;
          margin-bottom: 10px;
          border-bottom: 1px solid #385b5f;

          &:focus {
            border-color: #88d6e0;
          }
        }
      }
    }

    & button {
      margin-top: 5px;
      width: 85px;
      border-radius: 3px;
      height: 30px;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1.1px;
      background-color: #88d6e0;
      border: 1px solid #88d6e0;
      cursor: pointer;
      transition: color 0.5s, background-color 0.5s, transform 1s;

      &:hover {
        background-color: #fff;
        color: #88d6e0;
      }

      &:focus {
        transform: scale(1.1);
      }
    }
  }
}

.nav {
  margin-top: 20px;

  &__icon {
    width: 40px;
    height: 40px;
    margin: 0 auto;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }

    & img {
      width: inherit;
    }
  }

  &__list {
    display: none;

    &_show {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 15px;
    }

    &_link {
      color: #5c5c5c;
      margin-bottom: 5px;
      border-bottom: 1px solid #fff;

      &:hover {
        border-bottom: 1px dotted #5c5c5c;
      }

      &:focus {
        color: #73b0b8;
      }
    }
  }
}

.slider {
  display: none;
}

.benefits {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {
    display: flex;
    width: 250px;
    justify-content: center;
    align-items: center;
    border: 1px solid #e0e0e0;
    padding: 10px;
    margin-bottom: 20px;
    transition: transform 1s;

    &:first-child img {
      margin-left: -25px;
    }

    &:nth-child(2) img {
      width: 75px;
      height: 75px;
    }

    &_text {
      & h3 {
        color: #444444;
        font-size: 18px;
      }

      & span {
        color: #9b9b9b;
        font-size: 13px;
      }
    }

    & img {
      margin-right: 20px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

@import 'media';